:root {
    --shell-top-background-color: #FFFFFF;
    --shell-top-color: black;
    --shell-body-background-color: #F8F9FD;
    --shell-bottom-background-color: white;
    --shell-bottom-color: black;
    --shellauth-loading-loader-border: 16px solid #f3f3f3;
    --shellauth-loading-loader-border-top: 16px solid black;
    --shellauth-load-card-border-top: 1px solid #F1F0F9;
    --cadre-service-background-color: #F6F7FD;
    --cadre-service-color: black;
    /* APP */
    --shellpassw-labelongueur-color: black;
    --shellpassw-input-longueur-border: black;
    --shellpassw-input-longueur-background: white;
    --shellpassw-input-longueur-color: black;
    --shellpassw-label-symbol-color: black;
    --shellpassw-label-number-color: black;
    --shellpassw-label-minuscule-color: black;
    --shellpassword-label-majuscule-color: black;
    --shellpassw-label-ambigu-color: black;
    /* APP */
}